img.fotos{
    border-radius: 100pt;
    max-width:40%;
    height:auto;
}

#containerSocial{
    background-color: antiquewhite;
}

#btnAcesso{
    margin-left: 50%;
}

body{
    background-color: rgb(202, 207, 207);
}

img.icone{
    max-width: 30pt;
    margin-left: 10pt;
}

div.card-deck{
    max-width: 450pt;
}

div.form-group{
    margin-top: 30px;
}

#formulario-contato{
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}